<!DOCTYPE html>
<html lang="en">
<head>
<title>Pao Mentoring</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
	<header>
		<h1>
			Pao Mentoring: {{nametuple[0]}}, {{nametuple[1]}} ({{nametuple[2]}})
		</h1>
	</header>
	{% if sysmsgs %}
	<div id="sysmsgs">
	{% for sysmsg in notices %}
	{{ sysmsg }}<br />
	{% endfor %}
	</div>
	{% endif %}

	<h2>{{ subject }}</h2>
	<p>Primary mentor: <a href="mailto:{{primary_mentor[3]}}@ykpaoschool.cn">{{ primary_mentor[0] }}, {{primary_mentor[1]}} ({{primary_mentor[2]}})</a></p>
	<p>When: {{timestring}}</p>
	<p>Section #: {{cid}}</p>
	<p>Mentees: {% for i in mentees %} <a href="mailto:{{i[3]}}@stu.ykpaoschool.cn">{{i[0]}}, {{i[1]}} ({{i[2]}})</a>; {% endfor %}</p>

	<form action="/" method="post">
		<input type="hidden" name="action" value="deregister" />
		<input type="hidden" name="classid" value="{{ cid }}" />
		<input type="submit" value="Deregister" />
	</form> 

</body>
</html>
