<!DOCTYPE html>
<html lang="en">
<head>
<title>Pao Mentoring</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
	<header>
		<h1>
			Pao Mentoring: {{nametuple[0]}}, {{nametuple[1]}} ({{nametuple[2]}})
		</h1>
	</header>
	{% if sysmsgs %}
	<div id="sysmsgs">
	{% for sysmsg in notices %}
	{{ sysmsg }}<br />
	{% endfor %}
	</div>
	{% endif %}

	<h2>{{ subject }}</h2>
	<p>Primary mentor: {{ primary_mentor }}</p>
	<p>Mentees: {% for mentee_nametuple in mentee_nametuples %}}</p>

	<form action="/" method="post">
		<input type="hidden" name="action" value="deregister" />
		<input type="hidden" name="classid" value="{{ learning_class[2] }}" />
		<input type="submit" value="deregister" name="deregister">
	</form> 

	<td>{{ learning_class[0] }}</td>
	<td>{{ learning_class[1][0] }}, {{ learning_class[1][1] }} ({{ learning_class[1][2] }})</td>
	<td>{{ learning_class[2] }}</td>
	<td>{{ learning_class[3] }}</td>
</body>
</html>
