<!DOCTYPE html>
<html lang="en">
<head>
<title>Pao Mentoring</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<header>
	<div class="header-left">
		<h1><a href="/"><img src="/static/peer-pao-white.png" title="Peer Pao"> Peer Pao</a></h1>
	</div>
	<div class="header-right">
		<p><a href="/login">{{lfmu[0]}}, {{lfmu[1]}} {{lfmu[2]}}</a></p>
	</div>
</header>

{% if snotes %}
<div id="snotes">
{% for snote in snotes %}
{{ snote }}<br />
{% endfor %}
</div>
{% endif %}

{% if mode == "fill" %}

<p>
You are about to enlist a block of your free time where you are capable of conducting a mentoring meeting.
</p>

{% if subjects %}
<p>
You are currently registered for expertise in {{ subjects }}. <a href="/expertise">Change</a>
</p>
{% else %}
<p>
You are not currently registered for expertise in any subjects. Please <a href="/expertise">fix this</a>
</p>
{% endif %}

<form action="/enlist" method="post">
<ul>
	<input type="hidden" name="mode" value="confirm" />
	<li>
		<label for="date">Date</label>
		<input type="date" name="date">
	</li>
	<li>
		<label for="start">Start</label>
		<input type="time" name="start">
	</li>
	<li>
		<label for="end">End</label>
		<input type="time" name="end">
	</li>
	<li>
		<label for="notes">Notes</label>
		<textarea name="notes" rows="4" wrap="soft"></textarea>
	</li>
	<li>
		<input type="submit" value="Proceed" />
	</li>
</ul>
</form> 

{% elif mode == "confirm" %}

<p>
Please confirm that the following information is correct. If it is not, press the "back" button in your browser. If it is, press "Enlist" at the bottom.
</p>

<table>
	<tr>
		<th scope="row">Start</th>
		<td>{{starts}}</td>
	</tr>
	<tr>
		<th scope="row">End</th>
		<td>{{ends}}</td>
	</tr>
	<tr>
		<th scope="row">Notes</th>
		<td>{{notes}}</td>
	</tr>
</table>

<form class="single-button" action="/enlist" method="post">
	<input type="hidden" name="mode" value="confirmed" />
	<input type="hidden" name="start" value="{{start}}" />
	<input type="hidden" name="end" value="{{end}}" />
	<input type="hidden" name="notes" value="{{notes}}" />
	<input type="submit" value="Enlist" />
</form> 

<input action="action" onclick="window.history.go(-1); return false;" type="submit" value="Cancel" /> (this button requires JavaScript)


{% elif mode == "confirmed" %}

<p>
You have confirmed that you have time to perform mentoring activities during the following period. I will add this block onto your calendar to remind you to keep it free, and I'll email you if someone registers.
</p>

<p>
<a href="/enlist">Enlist another time block</a>
</p>

<p>
<a href="/">Return home</a>
</p>

<table>
	<tr>
		<th scope="row">Start</th>
		<td>{{starts}}</td>
	</tr>
	<tr>
		<th scope="row">End</th>
		<td>{{ends}}</td>
	</tr>
	<tr>
		<th scope="row">Notes</th>
		<td>{{notes}}</td>
	</tr>
</table>


{% else %}

Now I think the code is broken :) :) :)

{% endif %}

</body>
</html>
