<!DOCTYPE html>
<html lang="en">
<head>
<title>Error &mdash; Pao Mentoring</title>
</head>
<body>
<header>
	<h1>
		Login &mdash; Pao Mentoring
	</h1>
</header>
<form action="/login" method="POST">
	<table>
		<tr>
			<td>
				<label for="username">Username</label>
			</td>
			<td>
				<input type="text" id="username" name="username" required /><br />
			</td>
		</tr>
		<tr>
			<td>
				<label for="pass">Password</label>
			</td>
			<td>
				<input type="password" id="password" name="password" required /><br />
			</td>
		</tr>
	</table>
        <input type="submit" value="Login"/>
</form>
</body>
</html>
