<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Peer Pao</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<header>
<div class="header-content">
	<div class="header-left">
		<h1><a href="/"><img src="/static/peer-pao-white.png" title="Peer Pao"> Peer Pao</a></h1>
	</div>
	<div class="header-right">
		<p><a href="/login">{{lfmu[0]}}, {{lfmu[1]}} {{lfmu[2]}}</a></p>
	</div>
</div>
</header>

<div class="content">

<h2>
	What subjects do you want to mentor?
</h2>

{% if snotes %}
<div id="snotes">
{% for snote in snotes %}
{{ snote }}<br />
{% endfor %}
</div>
{% endif %}

<form class="plain" action="/" method="post">
	<input type="hidden" name="action" value="expertise" />
	<table>
		{% for subjectid, subjectname, checked in subjects %}
			<tr>
				<td>
				{% if checked %}
				<input id="{{subjectid}}" type="checkbox" name="expertise" checked value="{{subjectid}}" />
				{% else %}
				<input id="{{subjectid}}" type="checkbox" name="expertise" value="{{subjectid}}" />
				{% endif %}
				</td>
				<td>
				<label for="{{subjectid}}">{{subjectname}}</label>
				</td>
			</tr>
		{% endfor %}
	</table>
			<label></label>
			<input type="submit" value="Submit" />
	<!--TODO: Fix CSS-->
</form> 
</div>

</body>
</html>
