<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Peer Pao</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<header>
<div class="header-content">
	<div class="header-left">
		<h1><a href="/"><img src="/static/peer-pao-white.png" title="Peer Pao"> Peer Pao</a></h1>
	</div>
	<div class="header-right">
		<p><a href="/login">{{lfmu[0]}}, {{lfmu[1]}} {{lfmu[2]}}</a></p>
	</div>
</div>
</header>

<div class="content">

<h2>
	What subjects do you want to mentor?
</h2>

{% if snotes %}
<div id="snotes">
{% for snote in snotes %}
{{ snote }}<br />
{% endfor %}
</div>
{% endif %}

<form class="plain" action="/" method="post">
	<input type="hidden" name="action" value="expertise" />
	<table>
		{% for subjectid, subjectname, checked in subjects %}
			<tr>
				<td style="width: 1.5em;">
				{% if checked %}
				<input id="{{subjectid}}" type="checkbox" name="expertise" checked value="{{subjectid}}" />
				{% else %}
				<input id="{{subjectid}}" type="checkbox" name="expertise" value="{{subjectid}}" />
				{% endif %}
				</td>
				<td>
				<label for="{{subjectid}}">{{subjectname}}</label>
				</td>
			</tr>
		{% endfor %}
	</table>
	<p>
	Please also tell me what year group you are in:
	<input id="yNone" type="radio" name="year" value="None" {{y0checked}} />
	<label for="yNone">None</label>
	&nbsp;
	<input id="y9" type="radio" name="year" value="Y9" {{y9checked}} />
	<label for="y9">Y9</label>
	&nbsp;
	<input id="y10" type="radio" name="year" value="Y10" {{y10checked}} />
	<label for="y10">Y10</label>
	&nbsp;
	<input id="y11" type="radio" name="year" value="Y11" {{y11checked}} />
	<label for="y11">Y11</label>
	&nbsp;
	<input id="y12" type="radio" name="year" value="Y12" {{y12checked}} />
	<label for="y12">Y12</label>
	</p>
	<input type="submit" value="Submit" />
	<!--TODO: Fix CSS-->
</form> 
</div>
</body>
</html>
