<!DOCTYPE html>
<html lang="en">
<head>
<title>Pao Mentoring</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<header>
	<div class="header-left">
		<h1><img src="/static/peer-pao-white.png" title="Peer Pao"> Peer Pao</h1>
	</div>
	<div class="header-right">
		<p><a href="/login">{{lfmu[0]}}, {{lfmu[1]}} {{lfmu[2]}}</a></p>
	</div>
</header>

{% if snotes %}
<div id="snotes">
{% for snote in snotes %}
{{ snote }}<br />
{% endfor %}
</div>
{% endif %}

{% if subjects %}
<p>
You are currently registered for expertise in: {{ subjects }}.
</p>
{% else %}
<p>
You are not currently registered for expertise in any subjects.
</p>
{% endif %}

<form action="/" method="post">
	<input type="hidden" name="action" value="expertise" />
	<ul>
		<li>
			<label for="expertise">Update</label>
			<input type="text" name="expertise"/>
		</li>
		<li>
			<input type="submit" value="Submit" />
		</li>
	</ul>
</form> 

</body>
</html>
