<!DOCTYPE html>
<html lang="en">
<head>
<title>Pao Mentoring</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
	<header>
		<h1>
			Pao Mentoring: {{lastfirstmiddle}}
		</h1>
	</header>
	<h2>
		Learning Courses:
	</h2>
	{% if display_learning_classes %}
		<table>
		<tr>
			<th>
				Subject
			</th>
			<th>
				Mentor
			</th>
			<th>
				Section #
			</th>
			<th>
				Time
			</th>
			<th>
				Actions
			</th>
		</tr>
		{% for display_learning_class in display_learning_classes %}
			<tr>
				{% for field in display_learning_class %}
				<td>
					{{ field }}
				</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</table>
	{% else %}
		You have no learning courses.
	{% endif %}
	<h2>
		Teaching Courses:
	</h2>
	{% if display_teaching_classes %}
		<table>
		<tr>
			<th>
				Subject
			</th>
			<th>
				Mentor
			</th>
			<th>
				Time
			</th>
		</tr>
		{% for display_teaching_class in display_teaching_classes %}
			<tr>
				{% for field in display_teaching_class %}
				<td>
					{{ field }}
				</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</table>
	{% else %}
		You have no teaching courses.
	{% endif %}
</header>

</body>
</html>
