<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Peer Pao</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
	<header>
		<div class="header-content">
			<div class="header-left">
				<h1><a href="/"><img src="/static/peer-pao-white.png" title="Peer Pao"> Peer Pao</a></h1>
			</div>
			<div class="header-right">
				<p><a href="/login">{{lfmu[0]}}, {{lfmu[1]}} {{lfmu[2]}}</a></p>
			</div>
		</div>
	</header>
<div class="content">
	{% if snotes %}
	<div id="snotes">
	{% for snote in snotes %}
	{{ snote }}<br />
	{% endfor %}
	</div>
	{% endif %}
	<p>
	Your calendar URL is <input size="43" type="text" style="font-family: monospace;" readonly value="https://powermentor.andrewyu.org/{{username}}.ics" />.<br />Please subscribe to this URL with your calendar program and set it to update approximately every 5 minutes, if you want to see your mentoring meetings in your calendar.
	</p>
	<h2>
		Meetings as mentee:
	</h2>
	<p>
		<a href="/register">Register for a meeting...</a>
	</p>
	{% if meetings_as_mentee %}
			<table>
			<tr>
				<th scope="col">Mentor</th>
				<th scope="col">Start</th>
				<th scope="col">Actions</th>
			</tr>
			{% for i in meetings_as_mentee %}
				<tr>
					<td>{{ i[1][0] }}, {{ i[1][1] }} {{ i[1][2] }}</td>
					<td>{{ i[2] }}</td>
					<td>
						<a href="/meeting/{{ i[0] }}">
						View
						</a>
					</td>
				</tr>
			{% endfor %}
			</table>
	{% else %}
		You have no meetings as mentee.
	{% endif %}
	<h2>
		Meetings as mentor:
	</h2>
	{% if subjects %}
	<p>
	You are registered for teaching these subjects (<a href="/expertise">change them?</a>):
	</p>
	<ul>
		{% for s in subjects %}
		<li>{{ s }}</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>
	You are not registered to teach any subjects. Perhaps <a href="/expertise">modify</a>?
	</p>
	{% endif %}
	<p>
		<a href="/enlist">Enlist your time...</a>
	</p>
	{% if meetings_as_mentor %}
			<table>
			<tr>
				<th scope="col">Mentee</th>
				<th scope="col">Start</th>
				<th scope="col">Actions</th>
			</tr>
			{% for i in meetings_as_mentor %}
				<tr>
					<td>{{ i[1][0] }}, {{ i[1][1] }} {{ i[1][2] }}</td>
					<td>{{ i[2] }}</td>
					<td>
						<a href="/meeting/{{ i[0] }}">
						View
						</a>
					</td>
				</tr>
			{% endfor %}
			</table>
	{% else %}
		You have no meetings as mentor.
	{% endif %}
</div>
</body>
</html>
