<!DOCTYPE html>
<html lang="en">
<head>
<title>Login &mdash; Pao Mentoring</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
	<h1>
		Login &mdash; Pao Mentoring
	</h1>
</header>
<form action="/login" method="POST">
	<ul>
		<li>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required /><br />
		</li>
		<li>
			<label for="pass">Password</label>
			<input type="password" id="password" name="password" required /><br />
		</li>
		<li>
		    <input type="submit" value="Login"/>
		</li>
	</ul>
	{{note}}
</form>
</body>
</html>
