<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login – Peer Pao</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
	<div class="header-content">
		<div class="header-left">
			<h1><a href="/"><img src="/static/peer-pao-white.png" title="Peer Pao"> Peer Pao</a></h1>
		</div>
		<div class="header-right">
			<p>Login</p>
		</div>
	</div>
</header>
<div class="content">
<p>
This login page is for existing users who would like to login with their existing password. New users, or users who would like to update their password to match their current PowerSchool password, must use the <a href="/psauth">PowerSchool Authentication</a> page.
</p>
<form action="/login" method="POST">
	<ul>
		<li>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required /><br />
		</li>
		<li>
			<label for="pass">Password</label>
			<input type="password" id="password" name="password" required /><br />
		</li>
		<li>
			<label for="mode">Mode</label>
			<input type="radio" name="mode" value="login" checked>Login</input>
			<input type="radio" name="mode" value="psauth">PowerSchool</input>
		</li>
		<li>
			<label></label>
			<input type="submit" value="Submit"/>
		</li>
	</ul>
	{% if note %}
	<p style="border: 1px solid red; padding: 0px 2px;">
	{{note}}
	</p>
	{% endif %}
	<p>
	Please choose “Login” if you have used this system before and you just want to log in normally. Please choose “PowerSchool” if you need to update your password or if this is your initial registration. In this case you should use your PowerSchool password and the process may take time as PowerSchool must be contacted to check the password.
	</p>
</form>
</div>
</body>
</html>
