<!DOCTYPE html>
<html lang="en">
<head>
<title>Login &mdash; Pao Mentoring</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
	<div class="header-left">
		<h1><a href="/"><img src="/static/peer-pao-white.png" title="Peer Pao"> Peer Pao</a></h1>
	</div>
	<div class="header-right">
		<p>Login</p>
	</div>
</header>
<form action="/login" method="POST">
	<ul>
		<li>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required /><br />
		</li>
		<li>
			<label for="pass">Password</label>
			<input type="password" id="password" name="password" required /><br />
		</li>
		<li>
		    <input type="submit" value="Login"/>
		</li>
	</ul>
	{{note}}
</form>
</body>
</html>
