<!DOCTYPE html>
<html lang="en">
<head>
<title>Peer Pao</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<header>
<div class="header-content">
	<div class="header-left">
		<h1><a href="/"><img src="/static/peer-pao-white.png" title="Peer Pao"> Peer Pao</a></h1>
	</div>
	<div class="header-right">
		<p><a href="/login">{{lfmu[0]}}, {{lfmu[1]}} {{lfmu[2]}}</a></p>
	</div>
</div>
</header>

<div class="content">
{% if snotes %}
<div id="snotes">
{% for snote in snotes %}
{{ snote }}<br />
{% endfor %}
</div>
{% endif %}




{% if role == 'bad' %}
<div id="bad">
	Either this meeting does not exist, or you do not have permission to view this meeting.
</div>





{% elif role == 'mentor' %}
<p>
You have scheduled this meeting as a mentor.
</p>
<p>
Mentee: <a href="mailto:{{ other_lfmu[3] }}@ykpaoschool.cn">{{ other_lfmu[0] }}, {{ other_lfmu[1] }} {{ other_lfmu[2] }}</a>
</p>


{% elif role == 'mentee' %}
<p>
You have scheduled this meeting as a mentee.
</p>
<p>
Mentor: <a href="mailto:{{ other_lfmu[3] }}@ykpaoschool.cn">{{ other_lfmu[0] }}, {{ other_lfmu[1] }} {{ other_lfmu[2] }}</a>
</p>

{% endif %}


{% if role == "mentee" or role == "mentor" or role == "squishist" %}
<table>
	<tr>
		<th scope="row">Notes</th>
		<td>{% if notes %} {{ notes }} {% else %} None {% endif %}</td>
	</tr>
	<tr>
		<th scope="row">Start</th>
		<td>{{ time_start }}</td>
	</tr>
	<tr>
		<th scope="row">End</th>
		<td>{{ time_end }}</td>
	</tr>
</table>
{% endif %}

{% if role == "mentee" or role == "mentor" %}
<div id="deregister-meeting">
<h2>Deregister</h2>
<form action="/" method="post">
	<input type="hidden" name="action" value="deregister_meeting" />
	<input type="hidden" name="mid" value="{{ mid }}" />
	<ul>
		<li>
			<label for="reason">Reason</label>
			<textarea name="reason" rows="4" wrap="soft"></textarea>
		</li>
		<li>
			<label></label>
			<input type="submit" value="Deregister Meeting" />
		</li>
	</ul>
</form> 
</div>
{% elif role == "squishist" %}
<div id="register-meeting">
<h2>Register</h2>
<form action="/" method="post">
	<input type="hidden" name="action" value="register_meeting" />
	<input type="hidden" name="mid" value="{{ mid }}" />
	<ul>
		<li>
			<label for="Comment">Comment</label>
			<textarea name="comment" rows="4" wrap="soft"></textarea>
		</li>
		<li>
			<label></label>
			<input type="submit" value="Register Meeting" />
		</li>
	</ul>
</form> 
</div>
{% endif %}
</div>


</body>
</html>
