<!DOCTYPE html>
<html lang="en">
<head>
<title>Pao Mentoring</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<header>
	<h1>Pao Mentoring: {{lfmu[0]}}, {{lfmu[1]}} {{lfmu[2]}}</h1>
</header>


{% if snotes %}
<div id="snotes">
{% for snote in snotes %}
{{ snote }}<br />
{% endfor %}
</div>
{% endif %}




{% if role == 'bad' %}
<div id="bad">
	Either this meeting does not exist, or you do not have permission to view this meeting.
</div>





{% elif role == 'mentor' %}
<p>
You have scheduled this meeting as a mentor.
</p>
<p>
Mentee: <a href="mailto:{{ other_lfmu[3] }}@ykpaoschool.cn">{{ other_lfmu[0] }}, {{ other_lfmu[1] }} {{ other_lfmu[2] }}</a>
</p>


{% elif role == 'mentee' %}
<p>
You have scheduled this meeting as a mentee.
</p>
<p>
Mentor: <a href="mailto:{{ other_lfmu[3] }}@ykpaoschool.cn">{{ other_lfmu[0] }}, {{ other_lfmu[1] }} {{ other_lfmu[2] }}</a>
</p>

{% else %}
<div id="syserr">
	Programming error: "role" was given an unexpected value, "{{ role }}".
</div>
{% endif %}


{% if role == "mentee" or role == "mentor" %}
<p>
Description: {% if notes %} {{ notes }} {% else %} None {% endif %}
</p>
<p>
Start: {{ time_start }}
</p>
<p>
End: {{ time_end }}
</p>
<div id="deregister-meeting">
<h2>Deregister</h2>
<form action="/" method="post">
	<input type="hidden" name="action" value="deregister_meeting" />
	<input type="hidden" name="mid" value="{{ mid }}" />
	<label for="reason">Reason</label><br />
	<textarea name="reason" rows="4" wrap="soft"></textarea><br />
	<input type="submit" value="Deregister Meeting" />
</form> 
</div>

{% endif %}



</body>
</html>
