<!DOCTYPE html>
<html lang="en">
<head>
<title>PowerSchool Authentication – Peer Pao</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
	<div class="header-left">
		<h1><a href="/"><img src="/static/peer-pao-white.png" title="Peer Pao"> Peer Pao</a></h1>
	</div>
	<div class="header-right">
		<p>PowerSchool Authentication</p>
	</div>
</header>
<p>
This page is for people who need to change their password to match their current PowerSchool password, or for new users to register. Existing users who want to use their existing password should use the <a href="/login">login</a> page instead.
</p>
<form action="/psauth" method="POST">
	<ul>
		<li>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required /><br />
		</li>
		<li>
			<label for="pass">Password</label>
			<input type="password" id="password" name="password" required /><br />
		</li>
		<li>
			<label></label>
		    <input type="submit" value="Login"/>
		</li>
	</ul>
	{{note}}
</form>
</body>
</html>
