<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Peer Pao</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
<div class="header-content">
	<div class="header-left">
		<h1><a href="/"><img src="/static/peer-pao-white.png" title="Peer Pao"> Peer Pao</a></h1>
	</div>
	<div class="header-right">
		<p><a href="/login">{{lfmu[0]}}, {{lfmu[1]}} {{lfmu[2]}}</a></p>
	</div>
</div>
</header>
<div class="content">
	{% if snotes %}
	<div id="snotes">
	{% for snote in snotes %}
	{{ snote }}<br />
	{% endfor %}
	</div>
	{% endif %}

	<h2>
		Available meetings to register in:
	</h2>
	{% if available_meetings %}
			<table>
			<tr>
				<th scope="col">Mentor</th>
				<th scope="col"><abbr title="Mentor's Year">Year</abbr></th>
				<th scope="col">Mentor's Subjects</th>
				<th scope="col">Start</th>
				<th scope="col">End</th>
				<th scope="col">Notes</th>
				<th scope="col">Actions</th>
			</tr>
			{% for i in available_meetings %}
				<tr>
					<td>{{ i[1][0] }}, {{ i[1][1] }}<br>{{ i[1][2] }}</td>
					<td>{{ i[6] }}</td>
					<td><ul style="padding-left: 15px">{% for x in i[2] %}<li>{{x}}</li>{% endfor %}</ul></td>
					<td>{{ i[3] }}</td>
					<td>{{ i[4] }}</td>
					<td>{{ i[5] }}</td>
					<td>
						<a href="/meeting/{{ i[0] }}">
						View
						</a>
					</td>
				</tr>
			{% endfor %}
			</table>
	{% else %}
		<p>
		There are no available meetings. 你们都太卷了，或者是，mentor 太少了……
		</p>
	{% endif %}
</div>
</body>
</html>
