<!DOCTYPE html>
<html lang="en">
<head>
<title>Pao Mentoring</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
	<header>
		<h1>
			Pao Mentoring: {{nametuple[0]}}, {{nametuple[1]}} ({{nametuple[2]}})
		</h1>
	</header>
	{% if sysmsgs %}
	<div id="sysmsgs">
	{% for sysmsg in notices %}
	{{ sysmsg }}<br />
	{% endfor %}
	</div>
	{% endif %}
	<h2>
		Learning Courses:
	</h2>
	{% if learning_classes %}
			<table>
			<tr>
				<th>Subject</th>
				<th>Primary Mentor</th>
				<th>Section #</th>
				<th>Time</th>
				<th>Actions</th>
			</tr>
			{% for learning_class in learning_classes %}
				<tr>
					<td>{{ learning_class[0] }}</td>
					<td>{{ learning_class[1][0] }}, {{ learning_class[1][1] }} ({{ learning_class[1][2] }})</td>
					<td>{{ learning_class[2] }}</td>
					<td>{{ learning_class[3] }}</td>
					<td>
						<a href="/courseview/{{ learning_class[2] }}">
						<button>View</button>
						</a>
					</td>
				</tr>
			{% endfor %}
			</table>
	{% else %}
		You have no learning classes.
	{% endif %}

	<!-- teaching and available -->

</body>
</html>
